<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
                 type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExRatesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ExRatesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.nbrb.by/Services/ExRates.asmx"
                      binding="basicHttpBinding" bindingConfiguration="ExRatesSoap"
                      contract="ExRatesSoap" name="ExRatesSoap" />
            <endpoint address="http://www.nbrb.by/Services/ExRates.asmx"
                      binding="customBinding" bindingConfiguration="ExRatesSoap12"
                      contract="ExRatesSoap" name="ExRatesSoap12" />
        </client>
    </system.serviceModel>
</configuration>